
<%if @mensaje.titulo.eql? "Nueva Solicitud de Informacion" %>
	<h2><%=@mensaje.titulo %></h2>

	<h3>Informacion del Solicitante </h3>
		<p> <strong>Nombre:   </strong><%=@informacion["solicitante"]["nombre"]%></p>	
		<p> <strong>Tipo de Documento:  </strong> </p>
		<p> <strong>Documento:  </strong><%=@informacion["documento"]["numero"]%> </p>
		<%unless @informacion["solicitante"]["poder"].blank? %>
			<p> <%="Persona Juridica, actua bajo poder #{@informacion["solicitante"]["poder"]}"%></p>
		<%end%>

	<h3>Informacion de Solicitud </h3>
		<p> <strong>Hacia Institucion:  </strong><%=Institucion.find(@informacion["solicitud"]["institucion_id"]).nombre%> </p>
		<p> <strong>Descripcion de Informacion: </strong> </br>
			<%=@informacion["solicitud"]["descripcion"]%>
		</p> 

 <%unless current_user.rol.nombre.eql? "admin"%>	
	<button><%=link_to "Clasificar solicitud",clasificar_solicitud_path(@mensaje)%> </button>	
  <%end%>
<%else%>
	<h2><%=@mensaje.titulo %></h2>

	<p><strong>Emisor:</strong>  <%=  User.find(@mensaje.emisor_id).username%></p>
	
	<p><strong>Mensaje:</strong></br> <%=@mensaje.texto%></p>

	<button> <%=link_to @mensaje.document_file_name, download_path(@mensaje)%></button>

<%end%>


