
<% if user_signed_in? %>
<div class="tab_container">
	
	<% if @parametrizar.eql? "departamento" %>
    <div id="tab1" class="tab_content">
		<h2>Departamento </h2>
        <%semantic_form_for @departamento do |f| %>
			<% f.inputs do %>
				<%= f.input  :nombre%>
				<%= f.input :descripcion, :input_html => { :style => "width:70em; height: 10em" }%>
			<% end %>
			<% f.buttons do %>
				<%= f.commit_button :label =>"Crear"%>
			<% end %>
		<% end %>
    <div>
	
	<%end%>

	<% if @parametrizar.eql? "tipodocumento" %>
    <div id="tab2" class="tab_content">
		<h2>Documento </h2>
        <%semantic_form_for @tipodocumento do |f| %>
			<% f.inputs do%>
				<%= f.input :regla %>
				<%= f.input :nombre %>
				<%= f.input :tipoPersona, :as => :radio,:label => "Tipo de Persona Asociada",:collection => [["Natural",1],["juridica",2]] %>
			<% end %>
			<%= f.buttons %>
		<% end %>
      
    </div>

	<%end%>
	


	<% if @parametrizar.eql? "estado" %>
    <div id="tab3" class="tab_content">
		<h2>Estado </h2>
        
		<%semantic_form_for @estado do |f| %>
			<% f.inputs do%>
				<%= f.input :anterior_id, :as => :select,:label => "Estado anterior", :collection => @estados %>
				<%= f.input :siguiente_id, :as => :select,:label => "Estado siguiente", :collection => @estados %>
				<%= f.input :nombre %>
				<%= f.input :descripcion , :input_html => { :style => "width:70em; height: 10em" }%>
	
			<% end %>
			<%= f.buttons %>
		<% end %>
    </div>

	<%end%>

	<% if @parametrizar.eql? "institucion" %>
	
    <div id="tab4" class="tab_content">
		<h2>Institucion </h2>
        <%semantic_form_for @institucion do |f| %>
			<% f.inputs do %>
				<%= f.input :nombre %>
				<%= f.input :tipo_institucion, :as => :select,:label => "Tipo de Institucion", :collection =>  [["Centralizada","Centralizada"],["ONG","ONG"],["Descentralizada","Descentralizada"]] %>
				<%= f.input :descripcion , :input_html => { :style => "width:70em; height: 10em" }%>
	
			<% end %>
			<% f.buttons do %>
				<%= f.commit_button :label =>"Crear"%>
			<% end %>
		<% end %>
       <!--Content-->
    </div>
	<%end%>
	
	<% if @parametrizar.eql? "ocupacion" %>
    <div id="tab5" class="tab_content">
		<h2>Ocupacion </h2>
        <%semantic_form_for @ocupacion do |f| %>
			<% f.inputs do %>
				<%= f.input :nombre %>
			<% end %>
			<%= f.buttons %>
		<% end %>
       <!--Content-->
    </div>
	<%end%>

	<% if @parametrizar.eql? "ley_acuerdo" %>

    <div id="tab6" class="tab_content">
		<h2>Ley/Acuerdo </h2>
        <%semantic_form_for @leyAcuerdo do |f| %>
			<% f.inputs do%>
				<%= f.input :noLey %>
				<%= f.input :noAcuerdo %>
				<%= f.input :fechaGaceta %>
				<%= f.input :descripcion %>
			<% end %>
			<%= f.buttons %>
		<% end %>
       <!--Content-->
    </div>
	<%end%>

</div>

<% end%>
