
<% if user_signed_in? %>
<ul class="tabs">
	<%if current_user.rol_id == 2%>
	    <li><a href="#tab1">Departamento</a></li>
    <%end%>

	<%if current_user.rol_id == 1%>
	 <li><a href="#tab2">Documento</a></li>
     <li><a href="#tab3">Estado</a></li>
     <li><a href="#tab4">Institucion</a></li>
     <li><a href="#tab5">Ocupacion</a></li>
    <%end%>

	<%if current_user.rol_id == 2%>
	 <li><a href="#tab6">Leyes</a></li>
	<%end%>

</ul>

<div class="tab_container">
	
	<%if current_user.rol_id == 2%>
    <div id="tab1" class="tab_content">
		<h2>Departamento </h2>
        <%semantic_form_for @departamento do |f| %>
			<% f.inputs do %>
				<%= f.input  :nombre%>
				<%= f.input :descripcion%>
			<% end %>
			<%= f.buttons %>
		<% end %>
    </div>

	<%end%>
	
	<%if current_user.rol_id == 1%>
    <div id="tab2" class="tab_content">
		<h2>Documento </h2>
        <%semantic_form_for @tipodocumento do |f| %>
			<% f.inputs do%>
				<%= f.input :regla %>
				<%= f.input :nombre %>
				<%= f.input :tipoPersona, :as => :radio,:label => "Tipo de Persona Asociada",:collection => [["Natural",1],["juridica",2]] %>
			<% end %>
			<%= f.buttons %>
		<% end %>
      
    </div>

	
    <div id="tab3" class="tab_content">
		<h2>Estado </h2>
        
		<%semantic_form_for @estado do |f| %>
			<% f.inputs do%>
				<%= f.input :nombre %>
				<%= f.input :descripcion %>
			<% end %>
			<%= f.buttons %>
		<% end %>
       <!--Content-->
    </div>
    <div id="tab4" class="tab_content">
		<h2>Institucion </h2>
        <%semantic_form_for @institucion do |f| %>
			<% f.inputs do %>
				<%= f.input :nombre %>
				<%= f.input :tipo_institucion, :as => :select,:label => "Tipo de Institucion", :collection =>  [["Centralizada","Centralizada"],["ONG","ONG"],["Descentralizada","Descentralizada"]] %>
				<%= f.input :descripcion %>
			<% end %>
			<%= f.buttons %>
		<% end %>
       <!--Content-->
    </div>
    <div id="tab5" class="tab_content">
		<h2>Ocupacion </h2>
        <%semantic_form_for @ocupacion do |f| %>
			<% f.inputs do %>
				<%= f.input :nombre %>
			<% end %>
			<%= f.buttons %>
		<% end %>
       <!--Content-->
    </div>

	<%end%>

	<%if current_user.rol_id == 2%>

    <div id="tab6" class="tab_content">
		<h2>Ley/Acuerdo </h2>
        <%semantic_form_for @leyAcuerdo do |f| %>
			<%= f.inputs %>
			<%= f.buttons %>
		<% end %>
       <!--Content-->
    </div>
	<% end%>


</div>

<% end%>
