<%if user_signed_in? %>
<h2>Crear nuevo usuario</h2>

<%if current_user.rol.nombre.eql? "admin"%>
<%= semantic_form_for @oip do |f| %>
	
	<% f.inputs do %>
		<%=f.input :institucion_id, :as => :select, :label => "Elija la institucion",:collection => @instituciones %>
		<%=f.input :pnombre, :label => "Primer nombre:"%>
		<%=f.input :snombre, :label => "Segundo nombre:"%>
		<%=f.input :papellido, :label => "Primer apellido:"%>
		<%=f.input :sapellido, :label => "Segundo apellido:"%>
		<%=f.input :email, :label => "Correo principal:"%>
		<%=f.input :email2, :label => "Correo alterno:"%>
		<%=f.input :tlf, :label => "Telefono:"%>

	<%end%>
	<% f.buttons do %>
		<%= f.commit_button :label => "Crear" %>	
	<% end %>
<% end %>
<%end%>

<%if current_user.rol.nombre.eql? "oip"%>
<%= semantic_form_for @enlace do |f| %>
	<% f.inputs do %>
		<%=f.input :departamento_id, :as => :select, :label => "Elija el departamento",:collection => @departamentos %>
		<%=f.input :pnombre, :label => "Primer nombre:"%>
		<%=f.input :snombre, :label => "Segundo nombre:"%>
		<%=f.input :papellido, :label => "Primer apellido:"%>
		<%=f.input :sapellido, :label => "Segundo apellido:"%>
		<%=f.input :email, :label => "Correo principal:"%>
		<%=f.input :email2, :label => "Correo alterno:"%>
		<%=f.input :tlf, :label => "Telefono:"%>

	<%end%>
	<% f.buttons do %>
		<%= f.commit_button :label => "Crear" %>	
	<% end %>
<% end %>
<%end%>


<%end%>
