<strong>Buenas Sr(a). <%=@nombre%> </strong>

<p>Lamentamos informarle que su solicitud de informacion al institucion <%=@instituto%> se encuentra incompleta por el siguiente motivo: </p>

<ul>
	<li> <%=@descripcion%></li>
</ul>

<p> Amparado bajo la ley y/o acuerdo. <%=@noley%>, <%=@noacuerdo%> . El cual informa que:</p>
<ul>
	<li> <%=@descripcion_ley%> </li>

</ul>
<p> Le rogamos que vuelva a hacer una nueva solicitud ya tomando en cuenta el presenta </p>


