<strong>Buenas Sr(a). <%=@nombre%> </strong>

<p>Lamentamos informarle que su solicitud de informacion a la institucion <%=@instituto%> , no puede ser entregada puesto que se encuentra en tramite de reservacion, al momento de llegar a un consenso le informaremos : </p>

<ul>
	<li> <%=@descripcion%></li>
</ul>

<p> Amparado bajo la ley y/o acuerdo. <%=@noley%>, <%=@noacuerdo%> . El cual informa que:</p>
<ul>
	<li> <%=@descripcion_ley%> </li>

</ul>
<p> Le rogamos que vuelva a hacer una nueva solicitud ya tomando en cuenta el presenta </p>


