<h2>Expediente de la solicitud <%=@solicitud.numero%> </h2>

<p><strong>Institucion : </strong> <%=Institucion.find( @solicitud.institucion_id).nombre %> </p>
<p><strong>Fecha de solicitud : </strong> <%=@solicitud.fecha%> </p>
<p><strong>Clasificacion : </strong> <%=Clasificacion.find(@solicitud.clasificacion_id).nombre%></p>
<p><strong>Oip Creador :</strong> <%=Oip.find_by_usuario_id(@expediente.creador).nombre%></p>
<p><strong>Usuario Responsable :</strong> <%=User.find(@solicitud.responsable).username%></p>


<p><strong>Estado : </strong> <%=Estado.find(@expediente.estado_id).nombre%></p>
<p><strong>Descripcion: </strong> <%=@solicitud.descripcion%></p>

<%unless @solicitud.finalizada %>
	<%unless Estado.find(@expediente.estado_id).nombre.eql? "Suspendida"%>
<button><%= link_to "Cambiar de estado",cambiar_estado_path(@solicitud,@expediente) %></button></br>
<button><%= link_to "Asignar Recopilacion de informacion a enlaces",asignar_path(@solicitud,@expediente)%> </button>
	<%else%>
<button><a href=<%="/solicitud/#{@solicitud.id}/expediente/#{@expediente.id}/reclasificar?clasificacion=publica"%> > Clasificacion Publica</a></button>
<button><a href=<%="/solicitud/#{@solicitud.id}/expediente/#{@expediente.id}/reclasificar?clasificacion=reservada"%> > Clasificacion Reservada</a></button>
	<%end%>
<%end%>

<h3>Cambios </h3>
<table class="sortable"   id="sortabletable" >
<tr>
	<th>Fecha </th> <th> Descripcion </th> <th> Estado </th> <th> Clasificacion </th>
</tr>

<% @cambios.each do |c| %>
<tr>
	<td><%=c.fecha_cambio%></td>
	<td><%=c.descripcion[0..25]%></td>
	<td><%=c.estado%></td>
	<td><%=c.clasificacion%></td>
</tr>	
<%end%>
</table>
<h3>Asignaciones de recopilacion </h3>
<table class="sortable"   id="sortabletable" >
<tr>
	<th>Enlace </th> <th> Plazo </th> <th> Descripcion </th> <th> Fecha Inicio </th>
</tr>
<% @asignacion.each do |m| %>
<tr>
	<td><%= Enlace.find_by_usuario_id( m.enlace_id).nombre %> </td>
	<td><%="#{m.plazo}"%> </td>
	<td><%="#{m.descripcion}"%></td>
	<td><%="#{m.fechaInic}"%></td>
</tr>
<% end%>
		</table>

<h3>Mensajes </h3>
<table class="sortable"   id="sortabletable" >
<tr>
	<th>Titulo </th> <th> Fecha </th> <th>Emisor </th> <th> Destinatario </th>
</tr>
<% @mensajes.each do |m| %>
<tr>
	<td><%= link_to m.titulo,ver_mensaje_path(current_user,m) %> </td>
	<td><%="#{m.fecha}"%> </td>
	<%if m.emisor_id.eql? 0%>
		<td><%="Sistema "%> </td>
	<%else%>
		<td><%="#{User.find(m.emisor_id).username }"%></td>
	<%end%>


	<%if m.destinatario_id.eql? 0%>
		<td><%="Sistema "%> </td>
	<%else%>
		<td><%="#{User.find(m.destinatario_id).username }"%></td>
	<%end%>

	
</tr>
<% end%>
		</table>

