<div class = "loginform">
<h2 class ="titulo2" >Ingresar a SIELHO</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div>Correo Electronico:<br />
  <%= f.text_field :login %></div>
	   	
  <div><%="Contraseña" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= "Recuerdame" %></div>
  <% end -%>

  <div><%= f.submit "Ingresar" %></div>
<% end %>

<!-- <%= render :partial => "devise/shared/links" %> -->
</div>
